<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
    package="${Android.Manifest.Package|PACKAGE|APPLICATIONID}">
    <application
        android:allowBackup="true"
		android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
		android:hasCode="true"
		android:resizeableActivity="true"
		android:supportsPictureInPicture="true"
		>
		<activity
			android:resizeableActivity="true"
			android:name="${Android.Activity|MAINACTIVITY:.MainActivity}"
			android:theme="@style/AppTheme"
			android:label="@string/app_name"
			android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|screenLayout"
			android:launchMode="singleInstance"
			android:screenOrientation="${Android.Manifest.ScreenOrientation:portrait}">
			<meta-data android:name="android.app.lib_name" android:value="${Android.Manifest.AppLibName:appmain}" />
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>

			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="ovent" />
				<data android:scheme="oschd" />
			</intent-filter>
		</activity>

		<receiver android:name=".AlarmReceiver" android:process=":remote" />

		<activity
			android:name=".AlartActivity"
			android:theme="@style/HomeAlartTheme"
			android:launchMode="singleInstance">
		</activity>

.if(${Android.modules.AdMob.APPLICATION_ID})
		<meta-data android:name="com.google.android.gms.ads.APPLICATION_ID" android:value="${Android.modules.AdMob.APPLICATION_ID}" />
.endif

    </application>
.for(__perm \
	${Android.Manifest.Permission:\
		android.permission.INTERNET\
		android.permission.ACCESS_NETWORK_STATE\
		android.permission.ACCESS_WIFI_STATE\
		android.permission.WAKE_LOCK\
		android.permission.DISABLE_KEYGUARD\
		android.permission.READ_EXTERNAL_STORAGE\
		android.permission.WRITE_EXTERNAL_STORAGE\
		com.android.vending.BILLING\
	}\
)
	<uses-permission android:name="${__perm}" />
.end
.if(${Android.Manifest.perms.calendar})
	<uses-permission android:name="android.permission.READ_CALENDAR" />
	<uses-permission android:name="android.permission.WRITE_CALENDAR" />
.end
.if(${Android.Manifest.perms.camera})
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-feature android:name="android.hardware.camera" />
	<uses-feature android:name="android.hardware.camera.autofocus" />
.end
</manifest>